{% load static %}<!DOCTYPE html>
<html>
<head>
<title></title>
<link rel="stylesheet" href="{% static 'css/style5.css' %}">


<style>
</style>
</head>
<body class="b">
<div class="menubar">
<ul>
<li><a href="email.html">Email Edit</a></li>
<li><a href="{% url 'logout'%}">Logout</a></li>
</ul>
</div>
<form action="{% url 'email'%}" method="POST">
<div class="cont">
<h3>Current Email:</h3>
<input type="text" class="frm" name="current email" placeholder="current email">
<h3>New Email:<h3>
<input type="text" class="frm" name="new email" placeholder="new email">
<h3>Confirm Email:</h3>
<input type="text" class="frm" name="confirm email" placeholder="confirm email">
<center><input type="submit" name="submit" class="btn" value="Submit"></center>
</form>
</div>
</body>
</html>
