{% load static %}<!DOCTYPE html>
<html>
	<head>
		<title>faculty</title>
		<link rel="stylesheet" href="{% static 'css/style3.css' %}">
	
		<style></style>

	</head>
	<body class="b">
	
<!---------------------------------menubar-------------->

		<div class="navbar">
			<ul>
				<li><a href="edit.html">Edit</a>
				
				
					<div class="submenu">
						<ul>
							<li><a href="{% url 'password'%}">Password</a></li>
							<li><a href="{% url 'mobile'%}">Mobile</a></li>
							<li><a href="{% url 'email'%}">Email</a></li>
						
						</ul>
					</div>
				</li>
					<li><a href="{% url 'logout'%}">Logout</a></li>
			</ul>
			
		</div>		
		<!-- menubar end -->
		<!-- content start -->
			

		<div class="cont">
			<form>
			{% csrf_token%}
			<li><a href="{% url 'faculty'%}">Faculty Registration</a></li>
				<li><a href="{% url 'studmark'%}">Student Mark</a></li>
				<li><a href="{% url 'studentattendance'%}">Student Attendance</a></li>
				<li><a href="{% url 'factapplyleave'%}">Apply Leave</a></li>
				<li><a href="{% url 'studentregistration'%}">Student registration</a></li>
			</form>
		</div>
	
		
		<!-- content end -->
		<!-- footer start -->
		
		<div class="ft">
<footer>
	<p>&copy 2018-2019 company inc.</p>
</footer>
		</div>
		<!-- footer end -->
</body>
</html>