{% load static %}<!DOCTYPE html>
<html>
	<head>
		<title>Faculty page</title>
		<link rel="stylesheet" href="{% static 'css/style2.css' %}">
		
		
		<style></style>
	</head>
	<body class="b">
	
<!---------------------------------menubar-------------->

		<div class="menubar">
			<ul>
			<li><a href="{% url 'faculty'%}">Faculty page</a></li>
			<li><a href="{% url 'logout'%}">Logout</a></li>
				
			</ul>
		</div>
		
		
		
<!-- content start -->

		<div class="cont">
			<center><h1><font color="white">FACULTY SIGN UP</h1></center></font><br>
			<form action="{% url 'facultysignup'%}" method="POST">
			{% csrf_token %}
				<h3>Factid:</h3>
					<input type="text" class="frm" name="factid" placeholder="factid">
				<h3>Name:</h3>
					<input type="text" class="frm" name="name" placeholder="name">
				<h3>Address:</h3>
					<input type="text" class="frm" name="address" placeholder="address">
				<h3>Dob:</h3>
					<input type="date" class="frm" name="dob" placeholder="dob">
				<h3>Gender</h3>
					<p><input type="text" name="gender" class="frm" placeholder="gender">
				
				<br><h3>Qualification:</h3>
					<select input type="text" class="frm" name="qualification" placeholder="qualification">
						<option value="qualification"></option>	
						<option value="bca">BCA,MCA</option>
						<option value="BTECH EC">BTECH-EC,MTECH-EC</option>
						<option value="bsc cs">BSC-CS,MSC-CS</option>
					</select>
				<h3>Mobile:</h3>
					<input type="text" class="frm" name="mobile" placeholder="mobile">
				
				<h3>Email:</h3>
					<input type="text" class="frm" name="email" placeholder="email">
				<h3>password:</h3>
					<input type="password" class="frm" name="password" placeholder="password">
				<h3>Assigned Batch:</h3>
					<select input type="text" class="frm" name="assbatch" placeholder="assigned batch">	
						<option value="assigned batch"></option>
                        <option value="JSD1">JSD1</option>	
                        <option value="JSD2">JSD2</option>	
                        <option value="UI">UI</option>	
                        <option value="ED">ED</option>	
                        <option value="FS">FS</option>
                    </select>
                    <center><input type="submit" name="facultysignup" class="frm-btn" value="Submit"></center>
			</form>
		</div>
		</div>

<!-- content end -->
<!-- footer start -->

<footer>
		<div class="ft">
			<p>&copy;2018-2019 company inc, privacy terms</p>
		</div>
</footer>

  <!-- footer end -->
  
</body>
</html>

