{% load static %}<!Doctype html>
<html>
	<head>
		<title>home</title>

		<link rel="stylesheet" href="{% static 'css/style1.css' %}">

		<style></style>
	</head>
	<body class="b">
<!---------------------------------menubar-------------->

		<div class="navbar">
			<ul>
				<li><h2>WELCOME</h2></li>
			</ul>
		</div>

		<!-- menubar end -->
		<!-- content start -->

		
			
		<div class="log">
			<form action="{% url 'submit'%}" method="POST">
			{% csrf_token %}
				<input type="text" class="frm" name="username" placeholder="username">
				<input type="text"  class="frm" name="password"placeholder="password">
				<input type="submit" class="bt" value="submit">
			</form>
		</div>
	
 
		<!-- content end -->
		<!-- footer start -->

		<div class="ft">
			<footer>
				<p>&copy 2018-2019 copy company Inc.</p>
			</footer>
		</div>

		<!-- footer end -->

</body>
</html>