{% load static %}<!DOCTYPE html>
<html>
<head>
<title></title>
<link rel="stylesheet" href="{% static 'css/style5.css' %}">


<style>
</style>
</head>
<body class="b">
<div class="menubar">
<ul>
<li><a href="mobile.html">Mobile Number Edit</a></li>
<li><a href="{% url 'logout'%}">Logout</a></li>
</ul>
</div>
<form  action="{% url 'mobile'%}" method="POST">
<div class="cont">
<h3>Current Mobile Number:</h3>
<input type="text" class="frm" name="current mobile number" placeholder="current mobile number">
<h3>New Mobile Number:<h3>
<input type="text" class="frm" name="new mobile number" placeholder="new mobile number">
<h3>Confirm  Mobile Number:</h3>
<input type="text" class="frm" name="confirm mobile number" placeholder="confirm mobile number">
<center><input type="submit" name="submit" class="btn" value="Submit"></center>
</form>
</div>
</body>
</html>