{% load static %}<!DOCTYPE html>
<html>
<head>
<title></title>
<link rel="stylesheet" href="{% static 'css/style5.css' %}">


<style>
</style>
</head>
<body class="b">
<div class="menubar">
<ul>
<li><a href="password.html">Password Edit</a></li>
<li><a href="{% url 'logout'%}">Logout</a></li>
</ul>
</div>
<form  action="{% url 'password'%}" method="POST">
<div class="cont">
<h3>Old Passowrd:</h3>
<input type="text" class="frm" name="old password" placeholder="old password">
<h3>New Password:<h3>
<input type="text" class="frm" name="new password" placeholder="new password">
<h3>Confirm Password:</h3>
<input type="text" class="frm" name="confirm password" placeholder="confirm password">
<center><input type="submit" name="submit" class="btn" value="Submit"></center>
</form>
</div>
</body>
</html>